* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    background-color: transparent;
}

.game {
    width: 500px;
    height: 550px;
    margin-left: 720px;
    border: 5px solid black;
    background-image: url("./images/winter.jpg");
    background-size: cover;
}

.block {
    background-image: url("./images/snow-bricks.jpg");
    background-size: cover;
    height: 15px;
    width: 150px;
    position: relative;
    left: -50%;
    bottom: calc(10% - 14.7px * 20);
    visibility: hidden;
}

#slider1 {
    visibility: visible;
}

.animate {
    animation: animate 4.5s infinite linear;
}

@keyframes animate {
    0% {
        left: 0%;
    }
    50% {
        left: calc(500px - 150px);
    }
    100% {
        left: 0%;
    }
}

button {
    background-color: blue;
    padding: 5px;
    font-size: 30px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

#btn {
    background-color: red;
    padding: 5px;
    font-size: 30px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

@media (max-width:600px) {
    .game {
        width: 350px;
    }
    .block {
        width: 120px;
        height: 15px;
    }
    #slider1 {
        visibility: visible;
    }
    .animate {
        animation: animate 4.5s infinite linear;
    }

    @keyframes animate {
        0% {
            left: 0%;
        }
        50% {
            left: calc(350pc - 120px);
        }
        100% {
            left: 0%;
        }
    }
}

h1 {
    margin-top: 15px;
    margin-left: 840px;
    transform: translateY(130px);
    font-size: 40px;
}